#whole data
1. freature column /output column
3.Xtrain(training data)/xtest
4.ytrain(training data)/ytest

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.tree import DecisionTreeRegressor 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error
from sklearn.model_selection import cross_val_score

from joblib import dump,load
import plotly.express as px

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/digipodium/Datasets/main/house_pricing.csv")
df.info()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 814 entries, 0 to 813
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        814 non-null    object
 1   Type        814 non-null    object
 2   Beds        814 non-null    int64
 3   Baths       814 non-null    int64
 4   SquareFeet  814 non-null    int64
 5   Price       814 non-null    float64
dtypes: float64(1), int64(3), object(2)
memory usage: 38.3+ KB

         City         Type  Beds  Baths  SquareFeet      Price
0  SACRAMENTO  Residential     2      1         836  138159.85
1  SACRAMENTO  Residential     3      1        1167  167541.46
2  SACRAMENTO  Residential     2      1         796  119095.12

In [3]:
X =df[['Beds','Baths','SquareFeet']]
y =df['Price']
xtrain,xtest,ytrain,ytest=train_test_split(X,y,test_size=.2,random_state=1)

In [4]:
print('Descission tree')
model1=DecisionTreeRegressor(max_depth=25)
model1.fit(xtrain,ytrain)
print("score:",model1.score(xtest,ytest) *100)
pred=model1.predict(X)
print("mse",mean_squared_error(y,pred))
print("mae",mean_absolute_error(y,pred))

Descission tree
score: 61.03635041265771
mse 706067862.8785588
mae 7741.168413185913

In [5]:
print('Random_forest_tree')
model2=RandomForestRegressor(max_depth=25)
model2.fit(xtrain,ytrain)
print("score:",model2.score(xtest,ytest) *100)
pred=model2.predict(X)
print("mse",mean_squared_error(y,pred))
print("mae",mean_absolute_error(y,pred))

Random_forest_tree
score: 70.93664603806472
mse 864531712.5802665
mae 15253.821198383455

In [6]:
print('Linear regression')
model3=LinearRegression()
model3.fit(xtrain,ytrain)
print("score:",model3.score(xtest,ytest) *100)
pred=model3.predict(X)
print("mse",mean_squared_error(y,pred))
print("mae",mean_absolute_error(y,pred))

Linear regression
score: 76.88526015771397
mse 2603958160.0270896
mae 26712.290980750746

### cross validation

In [7]:
Descission_score=cross_val_score(model1,X,y,cv=10)
print(Descission_score,f"average:{Descission_score.mean():.2f}",f"std:{Descission_score.std():.2f}")

[ 0.36996437  0.65466948  0.36941545  0.66943697 -0.4549691   0.44961805
 -1.33639508  0.11411645  0.44665882  0.0897927 ] average:0.14 std:0.58

In [8]:
Random_forest_tree=cross_val_score(model3,X,y,cv=10)
print(Random_forest_tree,f"average:{Random_forest_tree.mean():.2f}",f"std:{Random_forest_tree.std():.2f}")

[0.68395532 0.88372625 0.64913869 0.76072242 0.57165039 0.61307964
 0.73234352 0.3535619  0.39880021 0.63045145] average:0.63 std:0.15

In [9]:
linear_score=cross_val_score(model3,X,y,cv=10)
print(linear_score,f"average:{tree_score.mean():.2f}",f"std:{linear_score.std():.2f}")

NameError: name 'tree_score' is not defined

In [ ]:
px.scatter_3d(df,x='Beds',y='SquareFeet',z='Baths',color='Price')